.red {
	background-color: red;
}
.blue {
	background-color: blue;
}
.green {
	background-color: green;
}
.yellow {
	background-color: yellow;
}
table {
	width: 100vw;
	height: 100vh;
	border-collapse:collapse;
}
body {
	margin: 0;
}
h1 {
	font-size: 3vw;
	text-align: center;
}
